<h2>Criar Post</h2>
<form action="/posts/create" method="post">
  <label>Título</label><br><input type="text" name="titulo"><br>
  <label>Conteúdo</label><br><textarea name="conteudo"></textarea><br>
  <button type="submit">Publicar</button>
</form>
